.commands
.DS_Store
.env
.history
.jest
.scannerwork
.vscode
*.jsbundle
*.pem
*.pub
*.tsbuildinfo
**/.aws
**/.log
**/.editorconfig
**/.env
**/.git
**/.vscode
**/coverage
**/dist
**/LICENSE
**/node_modules/
**/npm-debug.log
**/README.md
**/**.spec.ts
build
config.yaml
coverage
dist
full-stack
logs
migrations
myapp.log
node_modules
npm-debug.log*
persistence
sonar-project.js
yarn-debug.log*
yarn-error.log*
