.commands
.DS_Store
.env
.history
.jest
.scannerwork
.vscode
*.jsbundle
*.pem
*.log
*.pub
*.tsbuildinfo
build
config.yaml
coverage
dist
full-stack
logs
migrations
myapp.log
node_modules
npm-debug.log*
persistence
sonar-project.js
yarn-debug.log*
yarn-error.log*

# generated proto
mq/proto/index.js