.commands
.DS_Store
.env
.history
.jest
.scannerwork
.vscode
*.jsbundle
*.pem
*.pub
*.tsbuildinfo
**/.aws
**/.log
**/.editorconfig
**/.env
**/.git
**/.vscode
**/coverage
**/dist
**/LICENSE
**/node_modules/
**/npm-debug.log
**/README.md
coverage
dist